.credit
{
  background-color: transparent;
  display: block;
  padding: 0.3rem;
  font-size: small;
  text-align: center;
  a {
    display: inline;
    text-decoration: underline;
    font-size: small;
  }
}
